config wiglewrt 'settings'
	option enabled '1'
	option autostart '1'
	option scan_interval '0'
	option hop_interval '500'

config radio 'radio0'
	option enabled '1'
	list channels '1'
	list channels '2'
	list channels '3'
	list channels '4'
	list channels '5'
	list channels '6'
	list channels '7'
	list channels '8'
	list channels '9'
	list channels '10'
	list channels '11'

config radio 'radio1'
	option enabled '1'
	list channels '36'
	list channels '40'
	list channels '44'
	list channels '48'
	list channels '149'
	list channels '153'
	list channels '157'
	list channels '161'
	list channels '165'

config radio 'radio2'
	option enabled '1'
	option band '5g'
	list channels '52'
	list channels '56'
	list channels '60'
	list channels '64'
	list channels '100'
	list channels '104'
	list channels '108'
	list channels '112'
	list channels '116'
	list channels '120'
	list channels '124'
	list channels '128'
	list channels '132'
	list channels '136'
	list channels '140'
	list channels '144'
